/* import font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #191919;
}

/* right menu bar */
#header img {
    margin-top: 16px;
    box-shadow: 0px -2px 4px black;
   position: relative; 
   width: 100%;
}

#infoheader {
  width: 1200px;
  height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0f0e0e;
  color: aliceblue;
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#infoheader a {
  font-size: 13px;
  margin: 50px;
  text-decoration: none;
  color: aliceblue;
}

#infoheader a:hover {
  color: #761019;
}

#infoheader #red {
  color: #761019;
}

#infoheader #red:hover {
  font-weight: 900;
}

